 /* table {
    border: 1px solid #001963;
    border-collapse: collapse;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: white;
    border: 3px thin solid #480001;

} */

 /* td {
    text-align: center;
} */


 /* form{

} */

 /* html{
    background-color:

} */

 /* button */



 /* MALIK, WORK IN THIS PAGE ONLY. SPICE IT UP :) */